
body {
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    position: fixed;
    top: 20px;
    color: blue;
    width: 90%;
    text-align: center;
}

p {
    margin: 2em;
    position: relative;
    top: 100px;
    left: 150px;
   text-align: center;
   width: 50%;
   height: 2em;
   color: green;

}
    
    
    
